@import url("./reset.css");

.form_input_fields {
  display: flex;
}

.form_input_fields p {
  display: flex;
  flex-direction: column;
}

.inquiry_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
