@import url("./reset.css");

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  max-width: 1500px;
  margin: auto;
}

html {
  background-color: #000000;
}

@font-face {
  font-family: 'Magtis';
  src: url('/fonts/Magtis-ExtraBold-free.otf');
  font-display: swap;
}

@media (max-width: 1330px) {
  body {
    max-width: 100%;
  }
}
