---
import Layout from "@layouts/Layout.astro";
import Inquiry from "@components/Inquiry.astro";
import Videos from "@components/Videos.astro";
---

<Layout title="Thia Lanuza">
  <section>
    <h1>Thia Lanuza</h1>
    <h2>Aspiring Signer</h2>
    <a href="./"><p>BOOK NOW</p></a>
  </section>
  <Videos />
  <section>
    <h3>ABOUT ME</h3>
  </section>
  <section>
    <h3>PERFORMANCES</h3>
  </section>
  <Inquiry />
  <footer>
    <section>
      <h3>CONTACT ME</h3>
    </section>
  </footer>
</Layout>
