---
import Header from "./Header.astro";
import { Image } from "astro:assets";
---

<section id="contact">
  <Header title="CONTACT ME" />
  <div id="iconParent">
    <a href="https://www.instagram.com/lanuthai/" target="_blank">
      <img
        src="/assets/icons/instagram.png"
        alt="instagram icon"
        width="65"
        height="65"
      />
    </a>
    <a
      href="https://www.youtube.com/channel/UCGHJEyXb7Wbz9JSh9jVc_dQ"
      target="_blank"
    >
      <img
        src="/assets/icons/youtube.png"
        alt="instagram icon"
        width="65"
        height="65"
      />
    </a>
    <a href="https://www.tiktok.com/@ina_thia" target="_blank">
      <img
        src="/assets/icons/tik-tok.png"
        alt="instagram icon"
        width="65"
        height="65"
      />
    </a>
  </div>
  <p>Email: <a href="mailto:tlanuza3@gmail.com">tlanuza3@gmail.com</a></p>
  <p>Phone: <a href="tel:+11234567890">+1 123 456 7890</a></p>
  <p id="backToTop"><a href="#">back to top ↑</a></p>
</section>

<style>
  section {
    padding-bottom: 5rem;
    margin-top: 0;
    padding-top: 0;
  }

  .header {
    margin-top: 0;
  }

  p {
    font-family: "Roboto", sans-serif, system-ui;
    font-size: 1.25rem;
    color: white;
    margin-bottom: 0.6rem;
  }

  a {
    color: rgb(255, 255, 255);
  }

  #iconParent {
    min-width: 25rem;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  @media (max-width: 768px) {
    #iconParent {
      margin-top: 0.5rem;
      min-width: 10rem;
    }
    img {
      height: 30px;
      width: 30px;
    }
  }

  #backToTop {
    margin-top: 1.5rem;
  }
</style>
