---
const { title } = Astro.props;
import "@fontsource/koulen";
---

<div class:list={["header", { "header-spacing": title !== "CONTACT ME" }]}>
  <img src="star.svg" alt="decorative star" />
  <h3>{title}</h3>
  <img src="star.svg" alt="decorative star" />
</div>

<style>
  .header {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
  }

  .header-spacing {
    margin-top: 8rem;
  }

  h3 {
    color: white;
    margin: 1rem 0;
    font-family: "Koulen", system-ui;
    font-size: 3.7rem;
  }

  img {
    height: 30px;
    width: 30px;
  }

  @media (max-width: 1250px) {
    .header {
      margin-top: 4rem;
    }

    h3 {
      font-size: 2.4rem;
    }

    .header {
      gap: 1rem;
    }
  }
</style>
