---
import "@fontsource/dm-serif-display";
import "@fontsource/koulen";
---

<section>
  <h1>Thia Lanuza</h1>
  <h2>Aspiring Signer</h2>
  <a href="./"><p>BOOK NOW</p></a>
</section>

<style>
  h1,
  h2 {
    font-family: "DM Serif Display", serif;
  }

  a {
    font-family: "Koulen", serif;
  }
</style>
