---
import Header from "./Header.astro";
---

<section>
  <Header title="BOOKING INQUIRY" />
  <form name="booking" method="POST" data-netlify="true" class="inquiry_form">
    <div class="form_input_fields">
      <p>
        <input type="text" name="first_name" placeholder="First Name" />
        <input type="text" name="last_name" placeholder="Last Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="tel" name="phone" placeholder="Phone Number" />
      </p>
      <p>
        <input
          type="text"
          class="inputbox"
          name="inquiry"
          placeholder="Inquiry Details"
        />
      </p>
    </div>
    <p>
      <button type="submit">BOOK NOW</button>
    </p>
  </form>
</section>

<style>
  input {
    padding: 0.4rem 1rem;
  }

  .inputbox {
    min-height: 100%;
</style>
