---
import Header from "./Header.astro";
---

<section>
  <Header title="BOOKING INQUIRY" />
  <form name="booking" method="POST" data-netlify="true" class="inquiry_form">
    <div class="form_input_fields">
      <div class="first_input_column">
        <input type="text" name="first_name" placeholder="First Name" />
        <input type="text" name="last_name" placeholder="Last Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="tel" name="phone" placeholder="Phone Number" />
      </div>
      <div class="spacer"></div>
      <div class="second_input_column">
        <textarea class="inputbox" name="inquiry" placeholder="Inquiry"
        ></textarea>
      </div>
    </div>
    <button type="submit">BOOK NOW</button>
  </form>
  <svg
    width="256.7"
    height="278"
    viewBox="0 0 302 327"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M249.692 203L298.692 215V265" stroke="white" stroke-width="5"
    ></path>
    <path
      d="M86.6921 3C50.0255 20.6667 -16.9079 66.8 8.69214 110C40.6921 164 211.364 276.712 206.192 315.5C204.192 330.5 170.025 326.333 168.692 301C168.025 282.667 193.092 240.2 298.692 217"
      stroke="white"
      stroke-width="5"></path>
  </svg>
</section>

<style>
  input {
    padding: 0.7rem 1rem;
  }

  svg {
    position: relative;
    bottom: 80px;
    right: 320px;
  }

  button {
    margin-top: 3rem;
    color: rgb(0, 0, 0);
    width: 19.2rem;
    height: 3rem;
    padding: 0px;
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: "Koulen", serif;
    font-size: 1.5rem;
    border: none;
  }

  .spacer {
    margin-left: 1rem;
  }

  @media (max-width: 1100px) {
    svg {
      display: none;
    }
  }

  @media (max-width: 768px) {
    svg {
      display: none;
    }
    .spacer {
      margin-left: 0rem;
      margin-top: 0.35rem;
    }
    button {
      width: 10.2rem;
    }
  }

  .inquiry_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .form_input_fields {
    display: flex;
    width: 100%;
  }

  @media (max-width: 768px) {
    .form_input_fields {
      flex-direction: column;
    }
  }

  .first_input_column {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .second_input_column {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: stetch;
  }

  .first_input_column input {
    height: 1.5rem;
    margin-bottom: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif, system-ui;
    font-size: 1.15rem;
  }

  .first_input_column input:last-child {
    margin-bottom: 0rem;
  }

  .first_input_column input::placeholder {
    color: rgb(97, 97, 97);
    font-family: "Roboto", sans-serif, system-ui;
  }

  .inputbox {
    height: 100%;
    padding-left: 1rem;
    padding-top: 0.45rem;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif, system-ui;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.15rem;
  }

  @media (max-width: 768px) {
    .inputbox {
      height: 9rem;
      margin-top: 1.3rem;
    }
  }

  .inputbox::placeholder {
    color: rgb(97, 97, 97);
    font-family: "Roboto", sans-serif, system-ui;
    font-size: 1.15rem;
  }
</style>
