---
import Header from "./Header.astro";
---

<section>
  <Header title="BOOKING INQUIRY" />
  <form name="booking" method="POST" data-netlify="true" class="inquiry_form">
    <div class="form_input_fields">
      <div class="first_input_column">
        <input type="text" name="first_name" placeholder="First Name" />
        <input type="text" name="last_name" placeholder="Last Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="tel" name="phone" placeholder="Phone Number" />
      </div>
      <textarea class="inputbox" name="inquiry" placeholder="Inquiry"
      ></textarea>
    </div>
    <button type="submit"><p>BOOK NOW</p></button>
  </form>
</section>

<style>
  p {
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif, system-ui;
    font-weight: 800;
  }

  input {
    padding: 0.4rem 1rem;
  }

  button {
    margin-top: 2rem;
    width: 19.2rem;
    height: 2.5rem;
    background-color: white;
  }

  .inquiry_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form_input_fields {
    display: flex;
  }

  @media (max-width: 768px) {
    .form_input_fields {
      flex-direction: column;
    }
  }

  .first_input_column {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .first_input_column input {
    height: 1rem;
    margin-bottom: 0.35rem;
    width: 17rem;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif, system-ui;
  }

  .first_input_column input::placeholder {
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif, system-ui;
  }

  .inputbox {
    width: 18rem;
    height: 8.7rem;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-top: 0.45rem;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif, system-ui;
    resize: none;
  }

  @media (max-width: 768px) {
    .inputbox {
      margin-left: 0rem;
    }
  }

  .inputbox::placeholder {
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif, system-ui;
  }
</style>
