---

---

<section>
  <h3>BOOKING INQUIRY</h3>
  <form name="booking" method="POST" data-netlify="true" class="inquiry_form">
    <div class="form_input_fields">
      <p>
        <input type="text" name="first_name" placeholder="First Name" />
        <input type="text" name="last_name" placeholder="Last Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="tel" name="phone" placeholder="Phone Number" />
      </p>
      <p>
        <input type="text" name="inquiry" placeholder="Inquiry Details" />
      </p>
    </div>
    <p>
      <button type="submit">BOOK NOW</button>
    </p>
  </form>
</section>

<style>
  .form_input_fields {
    display: flex;
  }

  .form_input_fields p {
    display: flex;
    flex-direction: column;
  }

  .inquiry_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
