---
import Header from "./Header.astro";
---

<section>
  <Header title="PERFORMANCES" />
  <h3>2016</h3>
</section>

<style>
  h3 {
    font-size: 3rem;
    font-family: "Roboto", system-ui, sans-serif;
  }
</style>
