---
import Header from "./Header.astro";
---

<section>
  <Header title="PERFORMANCES" />
  <h3>2016</h3>
  <svg
    width="26"
    height="57"
    viewBox="0 0 26 57"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M23.0001 2C15.6667 12.6667 1.40008 38.4 3.00008 56"
      stroke="white"
      stroke-width="5"></path>
  </svg>
</section>

<style>
  h3 {
    margin-bottom: 1.5rem;
    color: white;
    font-size: 3rem;
    font-family: "Roboto", system-ui, sans-serif;
  }
</style>
