---
import Flick from "@components/Flick.svelte";
---

<script>
  const debounce = (callback, wait) => {
    let timeoutId = null;
    return (...args) => {
      window.clearTimeout(timeoutId);

      timeoutId = window.setTimeout(() => {
        callback.apply(null, args);
      }, wait);
    };
  };
  document.addEventListener("DOMContentLoaded", function () {
    function changeIFrameContent() {
      let query = window.matchMedia("(max-width: 1224px)");
      let iframe = document.querySelector("main>iframe");
      if (query.matches) {
        iframe.setAttribute("width", window.innerWidth.toString());
        iframe.setAttribute(
          "height",
          Math.floor(window.innerWidth * 0.5625).toString()
        );
      }
    }
    changeIFrameContent();

    const debouncedIFrame = debounce((event) => {
      changeIFrameContent();
    }, 250);
    window.addEventListener("resize", changeIFrameContent);
  });
</script>

<section>
  <Flick client:idle>
    <iframe
      slot="video-1"
      width="1400"
      height="787"
      src="https://www.youtube.com/embed/C7FN6su1e9I?si=uguFUp6r1p7sBsCZ"
      title="YouTube video player"
      allow=""
      allowfullscreen></iframe>
    <iframe
      slot="video-2"
      width="1400"
      height="787"
      src="https://www.youtube.com/embed/guUQn_Qnh60?si=ku4kNmp0sNez9H2R"
      title="YouTube video player"
      allow=""
      allowfullscreen></iframe>
    <iframe
      slot="video-3"
      width="1400"
      height="787"
      src="https://www.youtube.com/embed/Qt8XVTzANug?si=3v9Yt5NBWZCqaFoX"
      title="YouTube video player"
      allow=""
      allowfullscreen></iframe>
  </Flick>
</section>

<style>
  section {
    margin: 0;
    max-width: 1500px;
  }
</style>
